<li class="ready-to-eat-items">
	{{name}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}UNDEVOUR!{{else}}DEVOUR!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
